[defaults]
# the inventory directory will be the one in which the used inventory file is stored.
inventory = inventory/hosts
retry_files_enabled = False
stdout_callback = yaml

[connection]
pipelining = True
