# see https://docs.searxng.org/admin/engines/settings.html#use-default-settings
{% if searxng_engines_restrict|length %}
{% if searxng_engines_restrict_keep %}
use_default_settings:
  engines:
    keep_only:
{% else %}
use_default_settings:
  engines:
    remove:
{% endif %}
{% for engine in searxng_engines_restrict %}
      - {{ engine }}
{% endfor %}
{% else %}
use_default_settings: true
{% endif %}
# general:
  # enable_metrics: true      # record stats
server:
  # base_url is defined in the SEARXNG_BASE_URL environment variable, see .env and docker-compose.yml
  secret_key: "{{ searxng_secret_key }}"
  limiter: true  # can be disabled for a private instance
  image_proxy: true
  default-lang: "{{ searxng_default_lang }}"
ui:
  static_use_hash: true
  results_on_new_tab: true
redis:
  url: redis://redis:6379/0
