<?xml version="1.0" encoding="utf-8"?>
<ipset type="hash:{{ item.config.type }}">
  <description>{{ item.config.description }}</description>
  <option name="family" value="{{ item.config.family }}"/>
{% for entry in item.config.entries %}
  <entry>{{ entry }}</entry>
{% endfor %}
</ipset>
