<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Wireguard</short>
  <description>WireGuard is a communication protocol and free and open-source software that implements encrypted virtual private networks, VPNs</description>
  <port protocol="udp" port="{{ wireguard_port }}"/>
</service>
