# The primary domain of your Snikket instance
SNIKKET_DOMAIN={{ snikket_domain }}

# An email address where the admin can be contacted
# (also used to register your Let's Encrypt account to obtain certificates)
SNIKKET_ADMIN_EMAIL={{ snikket_admin_email }}

SNIKKET_TWEAK_TURNSERVER_MIN_PORT={{ snikket_turnserver_min_port }}
SNIKKET_TWEAK_TURNSERVER_MAX_PORT={{ snikket_turnserver_max_port }}

SNIKKET_TWEAK_HTTP_PORT=5080
SNIKKET_TWEAK_HTTPS_PORT=5443

# Also interesting, see snikket-server repo:
# SNIKKET_UPLOAD_STORAGE_GB
# SNIKKET_RETENTION_DAYS
#
# SNIKKET_TWEAK_PROMETHEUS
#
# By default, IPv6 is disabled because most container runtimes default to it being disabled
#
# If your server supports IPv6, you may also add that to DNS (using an
# AAAA record). If you do this, you *must* tell Snikket by adding the
# following line to your snikket.conf:
#
# ```
# SNIKKET_TWEAK_IPV6=1
# ```

