[Interface]
PrivateKey = {{ lookup('file', wireguard_pki_path + '/private/' + item.1) }}
Address = {{ wireguard_client_ip }}
DNS = {{ wireguard_dns_servers }}
{% if reduce_mtu|int > 0 %}MTU = {{ 1420 - reduce_mtu|int }}
{% endif %}

[Peer]
PublicKey = {{ lookup('file', wireguard_pki_path + '/public/' + ip_subject_alt_name) }}
PresharedKey = {{ lookup('file', wireguard_pki_path + '/preshared/' + item.1) }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = [{{ ip_subject_alt_name }}]:{{ wireguard_port }}
{{ 'PersistentKeepalive = ' + wireguard_persistentkeepalive|string if wireguard_persistentkeepalive > 0 else '' }}
