[Interface]
PrivateKey = {{ wg_client.key }}
Address = {{ wg_client.ip }}{{ '' if wg_client.ipv6 == '' else ',' + wg_client.ipv6 }}
{% if wireguard_dns_servers|length > 0 %}DNS = {{ wireguard_dns_servers }}
{% endif %}
{% if wireguard_reduce_mtu|int > 0 %}MTU = {{ 1420 - reduce_mtu|int }}
{% endif %}

[Peer]
PublicKey = {{ wg_host_as_peer.pubkey }}
PresharedKey = {{ wg_client.pskkey }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = {{ wireguard_host_ip }}:{{ wg_host_as_peer.port }}
{{ '' if wg_client.pkalive == '' else 'PersistentKeepalive = ' + wg_client.pkalive }}
