[Interface]
PrivateKey = {{ wg_client.key }}
Address = {{ wg_client.ip }}{{ ',' + wg_client.ipv6 }}
DNS = {{ wireguard_dns_servers }}
{% if wireguard_reduce_mtu | int > 0 %}MTU = {{ 1420 - wireguard_reduce_mtu | int }}
{% endif %}

[Peer]
PublicKey = {{ wg_host.pubkey }}
PresharedKey = {{ wg_client.pskkey }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = [{{ wireguard_host_ipv6 }}]:{{ wireguard_port }}
{{ 'PersistentKeepalive = ' + wireguard_persistentkeepalive | string if wireguard_persistentkeepalive > 0 else '' }}
