{% for peer in wg_peers %}
# --> {{ peer.name }} <-- ANSIBLE MANAGED BLOCK

[Peer]
PublicKey = {{ peer.pubkey }}
PresharedKey = {{ peer.pskkey }}
AllowedIPs = {{ peer.ip }}/32{{ '' if peer.ipv6 == '' else ',' + peer.ipv6 + '/128' }}
# {{ peer.name }} END ANSIBLE MANAGED BLOCK
{% endfor %}
